*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  color: #333;
}
h1 {
  font-size: 2.5em;
  margin: 15px 0 15px 0;
}
h2 {
  font-size: 2em;
  margin: 10px 0 15px 0;
}
h3 {
  font-size: 1.75em;
  margin: 10px 0 15px 0;
}
h4 {
  font-size: 1.5em;
  margin: 10px 0 15px 0;
}
p {
  font-size: 1em;
  margin-bottom: 15px;
}
blockquote {
  text-align: center;
  color: #666;
  font-style: italic;
  font-size: 0.8em;
}

.container {
  max-width: 1070px;
  padding: 0 15px;
  margin: 0 auto;
}
.story-builder {
  background: #eee;
  padding: 15px;
  margin-bottom: 20px;
}
.story-builder h2 {
  margin-top: 0;
}

.footer-bar {
  background-color: #000;
  text-align: right;
  max-width: 1070px;
  padding: 15px;
  margin: 20px auto 0;
}
.footer-bar a {
  color: #fff;
}

/* THE GRID */
.row:after,
.form-group:after {
  content: "";
  display: table;
  clear: both;
}
[class*='col-'] {
  float: left;
  padding-right: 20px;
}
[class*='col-']:last-of-type {
  padding-right: 0;
}
.col-sm-12,
.col-md-12,
.col-lg-12 {
  width: 100%;
}
.col-sm-11,
.col-md-11,
.col-lg-11 {
  width: 91.67%;
}
.col-sm-10,
.col-md-10,
.col-lg-10 {
  width: 83.33%;
}
.col-sm-9,
.col-md-9,
.col-lg-9 {
  width: 75%;
}
.col-sm-8,
.col-md-8,
.col-lg-8 {
  width: 66.67%;
}
.col-sm-7,
.col-md-7,
.col-lg-7 {
  width: 58.33%;
}
.col-sm-6,
.col-md-6,
.col-lg-6 {
  width: 50%;
}
.col-sm-4,
.col-md-4,
.col-lg-4 {
  width: 33.33%;
}
.col-sm-3,
.col-md-3,
.col-lg-3 {
  width: 25%;
}
.col-sm-2,
.col-md-2,
.col-lg-2 {
  width: 16.67%;
}
.col-sm-1,
.col-md-1,
.col-lg-1 {
  width: 8.33%;
}
@media screen and (max-width: 1024px) {
  .col-lg-1,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12 {
    width: 100%;
  }
  [class*='col-lg-'] {
    padding-right: 0;
  }
}
@media screen and (max-width: 768px) {
  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11,
  .col-md-12 {
    width: 100%;
  }
  [class*='col-md-'] {
    padding-right: 0;
  }
}
@media screen and (max-width: 480px) {
  .col-sm-1,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12 {
    width: 100%;
  }
  [class*='col-sm-'] {
    padding-right: 0;
  }
}

/* FORMS */
form label {
  clear:left;
  display:block;
  font-size: 0.8em;
  font-weight: bold;
  margin-bottom: 5px;
}
form input[type="text"],
form textarea,
form select {
  width: 100%;
  margin-bottom: 15px;
  font-size: 1em;
  padding: 7px;
  border: 2px solid #ccc;
  border-radius: 0;
}
form textarea {
  min-height: 100px;
}
input[type="submit"] {
  -webkit-appearance: none;
  border-radius: 0;
  padding: 7px 10px;
  font-weight: bold;
  border: 2px solid #eee;
}

/*Helpers*/
.hidden {
  display: none;
}
